* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    font-size: 62.5%; /* 1rem = 10px */
  }
  
  body {
    font-family: 'Arial', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
  }
  
  a {
    text-decoration: none;
  }
  
  ul {
    list-style: none;
  }
  